@model Department

<div>
    <label class="col-form-label" asp-for="Code"></label>
    <input readonly class="form-control" asp-for="Code" />
</div>
<div>
    <label class="col-form-label" asp-for="Name"></label>
    <input readonly class="form-control" asp-for="Name" />
</div>

<div>
    <label class="col-form-label" asp-for="CreationDate"></label>
    <input readonly class="form-control" asp-for="CreationDate" type="datetime-local" />
</div>

